@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Light Mode */
  --Light: #f2f2f2; /* خلفية الموقع */
  --Dark: #2c2c2c; /* النصوص الأساسية */
  --pAccent: #6f4e37; /* البني المستخدم في الأزرار أو التمييز */
}
/* --Light: #efe6dd;  */
